.DS_Store
0-assets/raw_data/main/1-extraction_stage/comment_extraction_from_RC_2005-12.zst_executed-at_2026-09-11_at_15h-26m-50s_RC_2005-12.zst.jsonl
0-assets/raw_data/main/2-filtering/filtered_comments.jsonl
0-assets/raw_data/main/3-grouping/baseline.jsonl
0-assets/raw_data/main/1-extraction_stage/comment_extraction_from_RC_2005-12.zst_executed-at_2026-09-30_at_21h-43m-00s_RC_2005-12.zst.jsonl
0-assets/raw_data/main/3-grouping/political_progressive.xlsx
0-assets/raw_data/main/3-grouping/political_progressive.xlsx
0-assets/raw_data/main/3-grouping/political_conservative.xlsx
0-assets/raw_data/main/3-grouping/gender_political_progressive.xlsx
0-assets/raw_data/main/3-grouping/gender_political_conservative.xlsx
0-assets/raw_data/main/3-grouping/gender_male.xlsx
0-assets/raw_data/main/3-grouping/gender_female_or_diverse.xlsx
0-assets/raw_data/main/3-grouping/age_young.xlsx
0-assets/raw_data/main/3-grouping/age_old.xlsx
0-assets/raw_data/main/3-grouping/political_conservative.xlsx
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/age_old.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/age_young.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/baseline.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/gender_female_or_diverse.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/gender_male.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/gender_political_conservative.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/gender_political_progressive.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/grouping_runtime.log
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/political_conservative.jsonl
0-assets/raw_data/main/3-grouping/grouped_subreddit_data/political_progressive.jsonl
